<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stressless">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".YogaInstructions"></activity>
        <activity android:name=".SquareInstructions" />
        <activity android:name=".MeditationInstructions" />
        <activity android:name=".FourSevenEight" />
        <activity android:name=".FSEInstructions" />
        <activity android:name=".animation" />
        <activity android:name=".yogaSeries" />
        <activity android:name=".Yoga" />
        <activity android:name=".Waterfall" />
        <activity android:name=".AutumnMorning" />
        <activity android:name=".CoffeeShop" />
        <activity android:name=".SoundImages" />
        <activity android:name=".Breathe" />
        <activity android:name=".meditation" />
        <activity android:name=".Options" />
        <activity android:name=".StressLevel" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>